form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch

small
    font-size: 70%
    margin: 0 0 0.5rem 0.5rem
    align-content: baseline
    
input button
    max-width: 30em

.col-md-12 
    margin: 20px auto

.form-group
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    flex-wrap: wrap

