<div [ngStyle]="{ 'display': 'flex', 'flex-direction' : 'column', 'align-content': 'center', 'align-items': 'center'}">
    <p>Copyright @Baptiste DUBOUE</p>
    <div [ngStyle]="{ 'display': 'flex', 'flex-direction' : 'row', 'align-content': 'center', 'align-items': 'center','margin-bottom': '1rem'}">
        <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
        <a href="https://www.github.com"><i class="bi bi-github"></i></a>
    </div>
</div>

