ul
    display: flex
    flex-wrap: wrap
    list-style: none
    margin: 0
    padding-inline-start: 0

li 
    align-self: flex-end
    padding: 1em 1em 0.5em 1em
    font-size: 1.5em

a 
    text-decoration: none
    color: black


h1
    font-size: 3rem
    margin: 0 1rem 0 1rem
    align-self: center

app-session
    align-self: center

.header
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: stretch
    background-color: #80808075 
    padding: 1em


.agauche
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start



